body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.loading {
    display: none;
    font-size: 18px;
    color: #ff6347;
}

.song-title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
}
#backlink{ position: absolute;
    top: 10px;  /* Adjust this value for vertical position */
    left: 10px; /* Adjust this value for horizontal position */
    font-size: 18px;
    text-decoration: none;
    color: #000; /* You can change the color of the link */
    text-decoration: underline;}
    #backlink:hover {color: #ff6347;}
    .spinner {
        display: none; /* Initially hidden */
        margin: 20px auto;
        width: 50px;
        height: 50px;
        border: 5px solid #f3f3f3; /* Light gray border */
        border-top: 5px solid #3498db; /* Blue border for animation */
        border-radius: 50%;
        animation: spin 1s linear infinite; /* Spinning animation */
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }